@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Rubik Variable', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main *::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
main *::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #DFE9EB;
  border: 1px solid #FFFFFF;
}

main *::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

main *::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

main *::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #64748B;
}

main *::-webkit-scrollbar-thumb:hover {
  background-color: #525F72;
}

main *::-webkit-scrollbar-thumb:active {
  background-color: #525F72;
}